* {
  text-align: center;
}

body {
  background-image: url("./HRBG.jpg");
}

table {
  margin-top: 5%;
  margin-bottom: 5%;
}

button {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.signForm {
  margin: 10% auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #343a40;
  border-radius: 4px;
  width: 30%;
  color: white;
}

form input {
  width: 75% !important;
  margin: auto;
}

.signedUser {
  color: white;
}

.filterButtons {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.filterBtn {
  margin-top: 10% !important;
  margin-bottom: 10% !important;
  width: 80%;
}

.filterForm {
  margin: 5% auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #343a40;
  border-radius: 4px;
  width: 50%;
  color: white;
}

tbody {
  background: rgba(255, 255, 255, 0.9);
}
